@import '../../app';

.hero {
  .hero-body {
    background: $primaryColor;
    padding: 0;
    position: relative;

    .hero-image {
      background-size: cover;
      height: 100vh;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      //box-shadow: $primaryColor 0px 0px 8px 8px inset
    }

    .hero-image.ng-hide-remove {
      transition: all;
    }

    .hero-image.ng-hide-remove {
      opacity: 0;
    }

    .hero-image.ng-hide-remove-active {
      opacity: 1;
    }
  }

  .countdown-clock {
    z-index: 2;
    position: absolute;
    display: flex;
    top: 50%;
    justify-content: center;
    opacity: 0.5;
  }
}


.logo-names {
  transition: 1s linear;
  position: absolute;
  top: 60vh;
  width: 50vw;
  left: 10vw;
}

.logo-names.ng-enter {
  opacity: 0;
}
.logo-names.ng-enter-active {
  opacity: 1;
}

.logo-welcome {
  transition: 1s linear;
  position: absolute;
  top: 72vh;
  width: 20vw;
  left: 60vw;
}

.logo-welcome.ng-enter {
  opacity: 0;
}
.logo-welcome.ng-enter-active {
  opacity: 1;
}