<section class="hero">
    <div class="hero-body">
      <div class="container">
        <!--<div class="countdown-clock"></div>-->

        <!--<div class="hero-image blurred"-->
             <!--ng-style="{'background': $ctrl.currentImage}">-->
        <!--</div>-->

        <img ng-if="$ctrl.logoNamesVisible" class="logo-names" src="/images/logo_names.png">
        <img ng-if="$ctrl.logoWelcomeVisible" class="logo-welcome" src="/images/logo_welcome.png">

        <div class="hero-image"
             ng-style="{'background-image': $ctrl.currentImage}">
        </div>

        <!--<img class="hero-image"-->
             <!--ng-repeat="name in $ctrl.images track by $index"-->
             <!--ng-show="$ctrl.isCurrentImage(name)"-->
             <!--ng-src="{{$ctrl.computeImagePath(name)}}">-->
      </div>
    </div>
</section>
