<section class="hero">
    <div class="hero-body">
      <div class="container">
        <img ng-if="$ctrl.logoNamesVisible" class="logo-names" src="/images/logo_names.png">
        <img ng-if="$ctrl.logoWelcomeVisible" class="logo-welcome" src="/images/logo_welcome.png">

        <div class="hero-image hero-image0"></div>
        <div class="hero-image hero-image1"></div>
        <div class="hero-image hero-image2"></div>
        <div class="hero-image hero-image3"></div>
        <div class="hero-image hero-image4"></div>
      </div>
    </div>
</section>
