@import '../../app';

.hero {
  .hero-body {
    background: $primaryColor;
    padding: 0;
    position: relative;

    .hero-image {
      background-size: cover;
      height: 90vh;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

    .hero-image.ng-hide-remove {
      transition: all 1s linear;
    }

    .hero-image.ng-hide-remove {
      opacity: 0;
    }

    .hero-image.ng-hide-remove-active {
      opacity: 1;
    }
  }

  .countdown-clock {
    z-index: 2;
    position: absolute;
    display: flex;
    top: 50%;
    justify-content: center;
    opacity: 0.5;
  }
}

.blurred {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
