@import '../common';

.content-info {
  //font-size: 5vh;
}

.jumbotron {
  background: $primaryColor;
  opacity: 0.1;
  //filter: blur(5px);
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  border-style: none solid none solid;
  border-color: white;
  //margin-top: 10vh;

  .jumbo-content {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2em;
    width: 80vw;
  }

  .hero-title {
    width: 100%;
    margin-top: 15vh;
    background: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;

    .boxx {
      background: $primaryColor;
      //opacity: 0.1;
      width: 100%;
      font-size: 5vh;
    }

    .container {
      width: 100%;

      .tile-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
          font-size: 5vh;
        }
        //border-bottom-style: solid;
        //border-bottom-width: 1px;
        //padding-bottom: 1em;
        //border-bottom-color: lightgray;

        .jumbo-title-separator {
          width: 45vw;
          background: lightgrey;
          height: 1px;
        }
      }
    }
  }

  .tile-icon {
    justify-content: center;
  }
}
