@import '../common';

.jumbotron {
  background: $primaryColor;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  border-style: none solid none solid;
  border-color: white;
  //margin-top: 15vh;

  .jumbo-content {
    padding-top: 3em;
    width: 90vw;
  }

  .hero-title {
    width: 100%;
    margin-top: 15vh;
    background: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content {
      background: $primaryColor;
      width: 100%;
      font-size: 5vh;

      .title-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        i {
          margin-right: 0.5em;
        }
      }

      .tile-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
          font-size: 7vh;
        }

        .jumbo-title-separator {
          width: 45vw;
          background: lightgrey;
          height: 2px;
          margin-top: 0.4em;
          //box-shadow: white 0px 0px 16px 3px;
        }
      }
    }

  }

  .tile-icon {
    justify-content: center;
  }
}
