<nav ng-class="{'nav': true, 'navigation-bar': true, 'fixed-top': $ctrl.isFixedTop }">
    <!--<span class="nav-toggle">-->
        <!--<span></span>-->
        <!--<span></span>-->
        <!--<span></span>-->
    <!--</span>-->

    <div class="navigation-content">
      <div ng-repeat="item in $ctrl.items" class="tile is-3 navigation-item">
        <a href="{{item.href}}">
          <i class="{{item.icon}}"></i>
          <strong>{{item.name}}</strong>
        </a>
        <div ng-if="::item.name !== 'Nocleg'" class="navigation-separator"></div>
      </div>
    </div>
</nav>