@import '../common';

.hero {

  .hero-body{
    padding: 0;
  }

  .countdown-clock {
    position: absolute;
    display: flex;
    top: 75%;
    justify-content: center;
    position: absolute;
  }
}
