<navbar></navbar>
<header>



  <!--<hero></hero>-->
</header>
<main>
    <div id="slub-trigger" class="trigger"></div>
    <jumbotron id="slub" name="slub" color="aliceblue" icon="fa fa-heart fa-5x" jumbo-title="Ślub" content-path="partials/slub.html"></jumbotron>

    <div class="wedding-countdown">
      <div ng-repeat="digit in $ctrl.time" class="tile is-2 digit-container">
        <div class="digit">{{digit.value}}</div>
        <div class="digit-description">{{digit.name}}</div>
      </div>

      <!--2 miesiace 21 dni 3 godziny 23 minuty 5 sekund-->
    </div>
    <div id="wesele-trigger" class="trigger"></div>
    <jumbotron id="wesele" name="wesele" color="aliceblue" icon="fa fa-glass fa-5x" jumbo-title="Wesele" content-path="partials/wesele.html"></jumbotron>

    <div id="dojazd-trigger" class="trigger"></div>
    <jumbotron id="dojazd" name="dojazd" color="aliceblue" icon="fa fa-car fa-5x" jumbo-title="Dojazd" content-path="partials/dojazd.html"></jumbotron>

    <div id="zakwaterowanie-trigger" class="trigger"></div>
    <jumbotron id="zakwaterowanie" name="zakwaterowanie" color="aliceblue" icon="fa fa-hotel fa-5x" jumbo-title="Zakwaterowanie" content-path="partials/zakwaterowanie.html"></jumbotron>
</main>
