.home {
}

.wedding-countdown {
  display: flex;
  justify-content: center;
  opacity: 0.5;

  .digit-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-width: 0.01px;
    border-style: solid;

    .digit {
      font-size: 48px;
    }
  }
}

