@import '../../app';

.visible {
  width: 100%;
  opacity: 1;
  filter: blur(0px);
}

.angular-google-map-container {
  height: 50vh;
  width: 85vw;
  border-radius: 0.5em;
  display: inline-block;

  div {
    border-radius: 0.5em;
  }
}

.content {
  display: flex;
  align-items: center;
}

.arrival-image {
  float: none;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1000px) {
    float: left;
    margin-right: 1.5em;
  }
}

.arrival-time {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;

  //width: 25%;
  //border-style: solid;
  //border-radius: 0.5em;
  //border-width: 1px;
  //border-color: white;
  //margin: auto;
  //margin-bottom: 1em;
}

.transcluded-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  min-height: 40vh;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: row;
  }

  span > ul > li {
    text-align: center;
  }

  ol {
    text-align: justify;
  }
}

.reversed-transcluded-content {
   @media (min-width: 1000px) {
    display: flex;
    flex-direction: row-reverse;

    img {
    margin-left: 1.5em;
    margin-right: 0;
    }
  }
}

.content-image {
  display: block;
  background-position: center;
  max-height: 40vh;
  border-radius: 0.2em;
  box-shadow: 0 0 8px 0;
  margin-bottom: 1em;

  @media (min-width: 1000px) {
    margin-right: 1.5em;
    margin-bottom: 0;
  }
}

.content-info {
  text-align: justify;
  margin-bottom: 1em;

  @media (min-width: 1000px) {
    margin-top: 0;
  }
}

.closing {
  width: 100%;
  font-size: 8vh;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  padding: 10vh 5vw 5vh 5vw;
}