<header>
  <hero></hero>
  <navbar></navbar>
</header>
<main>
  <div id="slub-trigger" class="trigger"></div>
  <jumbotron id="slub" name="slub" color="aliceblue" icon="fa fa-heart fa-5x" jumbo-title="Ślub"
             content-path="partials/slub.html"></jumbotron>

  <wedding-date></wedding-date>

  <div id="wesele-trigger" class="trigger"></div>
  <jumbotron id="wesele" name="wesele" color="aliceblue" icon="fa fa-glass fa-5x" jumbo-title="Wesele"
             content-path="partials/wesele.html"></jumbotron>

  <div id="dojazd-trigger" class="trigger"></div>
  <jumbotron id="dojazd" name="dojazd" color="aliceblue" icon="fa fa-car fa-5x" jumbo-title="Dojazd"
             content-path="partials/dojazd.html"></jumbotron>

  <div id="zakwaterowanie-trigger" class="trigger"></div>
  <jumbotron id="zakwaterowanie" name="zakwaterowanie" color="aliceblue" icon="fa fa-hotel fa-5x"
             jumbo-title="Zakwaterowanie" content-path="partials/zakwaterowanie.html"></jumbotron>

</main>
