.wedding-date-container {
  margin-top: 5vh;

  .wedding-countdown {
    display: flex;
    justify-content: center;

    .digit-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-color: black;
      border-width: 0.01px;
      border-style: solid;
      border-radius: 0.5em;

      .digit {
        font-size: 48px;
      }
    }
  }

  .remaining-info {
    text-align: center;
    font-size: 28px;
  }

  .wedding-date {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5em;
  }
}