$primaryColor:   #eceeef;

body {
   height: 100%;
   font-family: 'Kurale', cursive;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Kurale');
